.gameCard {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(20, 1fr); 
  width:fit-content
}
.gameCard > span {
    border:1px solid;
padding: 5px 15px;
justify-content: center;
display: flex;
}
.gameCard > span > input{
width: 90%;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.container {
  width: fit-content;
  margin:0 auto;
}
